@media only screen and (max-width: 992px) {
    .navbar-nav{
        padding: 10px 0;
    }

    .slider-area{
        height: 500px !important;
    }



    .img-container{
        width: 60% !important;
       
    }

    .content{
        width: 40% !important;
    }

    
    .custom-toggler > i{
        font-size: 2.2rem;
    }

 
    .about-caption{
        margin-bottom: 30px;
        max-width: 75% !important ;
    }

    .about-img, .about-title{

        max-width: 50% !important;
    }

    .about-title{
        gap: 20px !important;
        justify-content: flex-end !important;
    }


    .about-title > h1 > br{
        display: none;
    }

    .title-tailor > h1, .about-title > h1{

        font-size: 30px;
    }


    .project-us > div{
        flex-direction: column;
        gap: 30px;
    }

    .section-title > h1{
        font-size: 30px !important;
    }
   
}


@media (min-width: 768px) and (max-width: 992px){
    .content > div > h1{
        font-size: 33px !important;
    }

    .content > div > p{
        font-size: 18px !important;
    }

    .content > div > button{
        padding: 15px 55px !important;
    }
}


@media (min-width: 992px) and (max-width: 1200px) {
    
    .about-caption{
        max-width: 35% !important;
        gap: 15px !important;
    }
    .about-img{

        max-width: 50% !important;
    }

    .tailor-details{
        
        gap: 10px !important;
    }
  
   .about-title > h1{
       font-size: 30px;
   } 
}

@media only screen and (max-width: 992px){
   
    .visit-tailor-area{
        flex-direction: column;
        gap: 50px;
    }

    .barber-team {
        width: 100% !important;
    }
    .tailor-details{
        width: 82% !important;
    }

}


@media only screen and (max-width: 1200px){
    .title-tailor > h1{
        font-size: 30px;
    }   
}

@media only screen and (max-width: 768px){
    

    .img-container{
        display: none;
       
    }
    
    .content{
        width: 100% !important;
    }

    .about-title > button{
        width: 35% !important;
        padding: 18px 0;
    }

    .about-area{
        gap: 35px !important;
    }
    .about-area > div{
   
        max-width: 100% !important ;
    }

    .about-caption{
        margin-bottom: 0 !important;
    }

    .project-left{
        width: 100% !important;
    }

    .project-right{
        width: 100% !important;
    }


    .footer-location{
        width: 80%;
    }

    
}

@media (max-width: 576px){

    .about-caption > div{
        flex-direction: column;
        align-items: flex-start !important;
    }

    .customer-area > .container > .row {
        gap: 50px ;
    }

    .footer .container .row .item{
        max-width: 100% !important;
    }

    footer .container .row{
        gap: 50px;
    }

    .footer-logo{
        width: 80%;
    }
}


@media (min-width: 992px) and (max-width: 1200px) { 
    .navbar-nav{
        gap: 15px !important;
    }

}


@media only screen and (min-width: 992px) {
    .dropdown{
        display: flex;
        align-items: center;
        height: 75px;
    }

    .content{
        width: 45% !important;
    }

    .img-container{
        width: calc(100% - 45%) !important;
    }
}
